
@{
ViewBag.Title = "List";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
@foreach(var item in Model.Products)
{
    <li><a href="~/Views/Product/Product.cshtml">@item.Name</a></li>
}
<p>Use this area to provide additional information.</p>

