@{
ViewBag.Title = "List";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
@foreach (var item in ViewBag.Products)
{
    <li>
        @item.Name @Html.ActionLink("Details", "Product", new { id = item.Id })
    </li>
}
<p>Use this area to provide additional information.</p>

